<nav id="nav">
  <div class="nav-content" id="home-link">
    <a id="nav-home-button" href="{{ site.baseurl }}" title="Back to the Linux Mint homepage"><img class="" src="{{ site.baseurl }}/assets/site-logo.png" alt="Linux Mint Logo"></a>
  </div>
  <div class="nav-content" id="main-links">
    <a class="button-flat--orange" href="{{ site.baseurl }}/download">Download</a>
    <a class="button-flat--orange" href="{{ site.baseurl }}/about">About</a>
    <a class="button-flat--orange" href="{{ site.baseurl }}/project">Project</a>
    <a class="button-flat--orange" href="{{ site.baseurl }}/news">News</a>
    <a class="button-flat--orange" href="{{ site.baseurl }}/store">Store</a>
  </div>
  <div class="nav-content" id="social-links">
    <a class="button-flat--orange" href="https://www.facebook.com/Linux-Mint-185238108180410/" title="Facebook" target="_blank"><i class="fa fa-fw fa-facebook-official" aria-hidden="true"></i></a>
    <a class="button-flat--orange" href="https://www.twitter.com/{{ site.twitter_username }}" title="Twitter" target="_blank"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a>
    <a class="button-flat--orange" href="https://www.github.com/{{ site.github_username }}" title="Github" target="_blank"><i class="fa fa-fw fa-github-alt" aria-hidden="true"></i></a>
    <a class="button-flat--orange" href="http://blog.linuxmint.com/?feed=rss2" title="RSS Feed" target="_blank"><i class="fa fa-fw fa-rss" aria-hidden="true"></i></a>
  </div>
  <div class="nav-content" id="hamburger">
    <a class="button-flat--orange" id="toggle-overlay" href="#/"><i class="fa fa-fw fa-bars" aria-hidden="true"></i></a>
  </div>
</nav>